html {
    height: 100%;
}
  
body {
    background-color:#E7EFEF;
    font-family: Arial, Times New Roman;
    height:100%;
}


.bookingInfo {
    float:right;
    border: solid;
    width: 19%;
    Height: 800px;
}

.carDetails {
    text-align: center;
}

.carInfo {
    float:left;
    border: solid;
    height: 285px;
    width: 37%;
    margin-top: 10px;
    margin-right: 5px;
}

.driverDetails {
    text-align: center;
}

.driverInfo {
    float:right;
    border: solid;
    height: 285px;
    width: 37%;
    margin-top: 10px;
    margin-right: 10px;
}

.gasInfo {
    margin-left:30px;
    border: solid;
    width: 70%;
}

.map {
    float:left;
    border: solid;
    width: 79.5%;
    height: 500px;
}

#map-canvas { 
    height: 100%;
}


.rideInfo {
    text-align: center;
}


/*Forms*/

#drinkYes {
	top: 68px;
	left: 125px;
}

#drinkNo {
	top: 83px;
	left: 100px;
}

#foodYes {
	top: 55px;
	left: 155px;
}

#foodNo {
	top: 72px;
	left: 130px;
}

.formField {
    position: relative;
}

.form{
    width: 22em;
}
.form .formField  label, .form .formField  p{

    float:left;
    clear:both;
}
.form .formField  input, .form .formField  select, .form .formField  small, .form .formField a #cancel{
    float:right;
	padding-left: 5px;
    width: 16em;
}



.formField span {
	position: relative;
}

#hide {
	display: none;
}

#smokeYes {
	top: 40px;
	left: 155px;
}

#smokeNo {
	top: 55px;
	left: 130px;
}

/* Wrappers and Header Stuff */

#content {
    width:80%;
    min-width:900px;
    padding:20px;
    padding-bottom:6px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-35px;
}

#header {
    background-color:#D6DDDE;
    min-width:900px;
    width:80%;
    margin-top:-12px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
}

#header a {
    color:black;
    font-weight:bold;
}

#login {
    float:right;
}

#mailIcon {
	position:relative;
	top:2px;
}

#newMessages a {
	text-decoration:none;
}

#wrapper {
    background-color:#FFFFFF;
    width:80%;
    min-width:900px;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
    overflow: auto;
}

#wrapper a {
    color:black;
    font-weight:bold;
}

#wrapper h1 {
    margin-top:0px;
}

/***Ride search results */

.destination, .origin {
    font-size: 200%;
}
	
.ride {
    border: 1px solid #000;
    padding: 1em 1em 1em 1em;
    position:relative;
    max-width:60%;
    display:block;
    margin:1em;
}

.route {
    display:inline-block;
    vertical-align:top;
    width:80%
}

.seatCost {
    border: 1px solid #000;
    padding: 1em;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    width:10%

}
    
.time {
    padding-left:2em;
    }
    
/* Admin */
.userTable, td, th, tr{
    border: 1px solid black;
    padding:3px;
}