html {
    height: 100%;
}
  
body {
    background-color:#E7EFEF;
    font-family: Arial, Times New Roman;
    height:100%;
}

#map-canvas { 
    height: 100%;
}

.bookingInfo {
    float:right;
    border: solid;
    width: 19%;
    Height: 800px;
}

.carDetails {
    text-align: center;
}

.carInfo {
    float:left;
    border: solid;
    height: 285px;
    width: 37%;
    margin-top: 10px;
    margin-right: 5px;
}

.driverDetails {
    text-align: center;
}

.driverInfo {
    float:right;
    border: solid;
    height: 285px;
    width: 37%;
    margin-top: 10px;
    margin-right: 10px;
}

.formField {
    position: relative;
}

.map {
    float:left;
    border: solid;
    width: 79.5%;
    height: 500px;
}

.gasInfo {
    margin-left:30px;
    border: solid;
    width: 70%;
}

.rideInfo {
    text-align: center;
}
/*Forms*/
.form{
    width: 20em;
}

.form .formField  input, .form .formField  select, .form .formField  radio{
    float:right;
    width: 16em;
}
.form .formField  label{
    float:left;
    clear:both;
}


/* Wrappers and Headers */
#wrapper {
    background-color:#FFFFFF;
    width:80%;
    min-width:900px;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
}

#wrapper a {
    color:black;
    font-weight:bold;
}

#wrapper h1 {
    margin-top:0px;
}

#header {
    background-color:#D6DDDE;
    min-width:900px;
    width:80%;
    margin-top:-12px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
}

#header a {
    color:black;
    font-weight:bold;
}

#login {
    float:right;
}

#content {
    width:80%;
    min-width:900px;
    padding:20px;
    padding-bottom:6px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-35px;
}

/***Ride search results */
.ride {
    border: 1px solid #000;
    padding: 1em 1em 1em 1em;
    position:relative;
    max-width:60%;
    display:block;
    margin:1em;
}

.route {
    display:inline-block;
    vertical-align:top;
    width:80%
}

.seatCost {
    border: 1px solid #000;
    padding: 1em;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    width:10%

}

.origin, .destination {
    font-size: 200%;
    }
    
.time {
    padding-left:2em;
    }